page-more {
  #about_color
  {
    color:#33A117;
  }

  #settings_color{
    color:#1681A3;
  }

  #policy_color{
    color:#AB36C0;
  }

  #feedback_color{
    color:#E7254B;
  }

  #logout_color{
    color:#B3AE24;
  }


}
