page-booking {
  .center{
    text-align:center;
  }

  .icon-style{
    padding-top:60px;
    font-size:120px;
    color:#2E9DCC;
  }

  h1{
    color:#181A1E;
    font-size:38px;
    font-family:times;
  }
}
